{% extends 'base.html.twig' %}

{% block title %}Comment index{% endblock %}

{% block body %}
    <h1>Les commentaires</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Message</th>
                <th>Date de création</th>
                <th>Date de modification</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for comment in comments %}
            <tr>
                <td>{{ comment.message }}</td>
                <td>{{ comment.creationDate ? comment.creationDate|date('Y-m-d') : '' }}</td>
                <td>{{ comment.modificationDate ? comment.modificationDate|date('Y-m-d') : '' }}</td>
                <td>
                    <a class="btn btn-dark" href="{{ path('app_comment_show', {'id': comment.id}) }}">Voir +</a>
                    <a class="btn btn-danger" href="{{ path('app_comment_delete', {'id': comment.id}) }}">Supprimer</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">Pas de commentaire trouvé</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}
